<!DOCTYPE html>
<html>
<head>
    <title>Exams Timetable</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="timetable-container">
        <h2>Exams Timetable</h2>
        <table class="timetable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>26/5/2024</td>
                    <td>Cloud_Computing</td>
                    <td>9:00 AM</td>
                </tr>
                <tr>
                    <td>3/6/2024</td>
                    <td>AI_platforms</td>
                    <td>11:00 AM</td>
                </tr>
                <tr>
                    <td>8/6/2024</td>
                    <td>Embedded_Sysetms</td>
                    <td>10:00 AM</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <a href="{{ url_for("login") }}">Back to Login</a>
    </div>
</body>
</html>